<h1>Hello there!</h1>
<div id="content"
     contenteditable="plaintext-only"
     spellcheck="false"
     enterkeyhint=""
     autocapitalize="off"
     class="pell-content">
    <div><input type="checkbox"> Todo one</div>
    <div><input type="checkbox"> Todo two</div>
</div>
